global:
  env:
    - name: AUTHENTIK_SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: authentik-secrets
          key: secret_key
    - name: AUTHENTIK_POSTGRESQL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: authentik-secrets
          key: postgresql_password

authentik:
  log_level: info
  secret_key: ""
  postgresql:
    password: ""

server:
  env:
    - name: AUTHENTIK_COOKIE_DOMAIN
      value: ".x43.io"
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
      traefik.ingress.kubernetes.io/router.tls.certresolver: le
    hosts:
      - auth.x43.io
    tls:
      - hosts:
          - auth.x43.io

postgresql:
  enabled: true
  auth:
    enablePostgresUser: false
    existingSecret: authentik-postgresql
    username: authentik
    database: authentik
